@import '../../global.scss';

.card {
  background-color: white;
  width: 350px;
  height: 70%;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0 0 15px -8px black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  transition: all 1s ease;

  @include mobile {
    height: 200px;
    padding: 10px 15px;
    margin: 20px;
  }


  &:hover {
    transform: scale(1.1);
    @include mobile {
      transform: scale(1);
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      &.left, &.right {
        height: 35px;
        @include mobile {
          height: 20px;
        }
      }

      &.user {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        object-fit: cover;
        margin: 0 30px;
        @include mobile {
          width: 40px;
          height: 40px;;
        }
      }
    }
  }

  .center {
    padding: 10px;
    background-color: rgb(250, 244, 245);
    border-radius: 10px;
    line-height: 1.5;
    text-align: center;
    @include mobile {
      padding: 2px;
      font-size: 12px;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h2 {
      margin: 5px 0;
      @include mobile {
        font-size: 16px;
        margin: 0;
      }
    }

    h4 {
      margin: 5px 0;
      color: grey;
      font-weight: 400;
      @include mobile {
        font-size: 12px;
        margin: 2px 0;
      }

      &.workplace {
        font-weight: 300;
      }
    }
  }
}